/*основная часть*/

main {
    width: 90%;
}

h2,
h4 {
    color: #2e64bf;
    font-weight: normal;
    text-align: center;
}

h3 {
    color: grey;
    font-weight: normal;
    text-align: center;
}

.container {
    width: 100%;
}

.container1>div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.container1 {
    text-align: center;
    line-height: 1.5;
}

.icon {
    font-size: 5vmin;
    color: #00BFFF;
}

#map,
iframe {
    width: 100%;
    height: 50vmin;
    text-align: center;
}

@media (min-width:360px) and (max-width:640px) {
    .container1>div {
        width: 70%;
        display: inline;
    }
}
