/*основная часть*/

main {
    width: 90%;
}

.services {
    width: 100%;
}

main p,
main>.services>ul {
    text-align: justify;
    line-height: 1.4;
    text-indent: 1.5em;
}

.services_nav li {
    list-style: none;
    text-align: justify;
    font-size: x-large;
    text-align: center;
    padding-top: 5px;

}

main>li {
    list-style-type: disc;
}

h2,
h3,
h4,
figure {
    text-align: center;
    color: #2e64bf;
    font-weight: normal;
}

.menu{
    width: 100%;
    text-align: center;
}

.menu>li {
    display: inline-block;
    width: 40%;
 }

button {
    font-size: 3vmin;
    margin-bottom: 10px;
    background-color: #00BFFF;
    color: black;
    width: 40%;
    height: 40px;
}

.priceButton{
    width: 20%;
}
button:hover {
    color: black;
    background-color: #00FFFF;
    cursor: pointer;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

figure>img {
    width: 40%;
}

@media(max-width:640px),
(min-width:641px) and (max-width:1024px) {
    .services>figure>img {
        width: 100%;
    }
    
    .menu button {
        width: 65%;
        font-size: 0.6em;
    }
    
    button {
        font-size: 0.8em;
        width: 40%;
    }

    button:hover {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}

@media (min-width:0px) and (max-width:640px){
    .menu>li {
        width: 70%;
    }
}