main,
.container1,
.container1>.command {
    width: 100%;
}

.container1>.command {
    text-align: center;
}

.command-one {
    width: 40%;
    text-align: center;
    font-size: 25px;
    height: 420px;
}

.command-one:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.command-one>img {
    text-align: center;
    width: 100%;
    border-radius: 100%;
}

.command-one {
    display: inline-block;
}

h2,
h3,
h4 {
    font-weight: normal;
    text-align: center;
    color: #2e64bf;
}

h5 {
    font-weight: normal;
    text-align: center;
    color: grey;
}

@media (min-width:0px) and (max-width:640px),
(min-width:641px) and (max-width:1024px) {
    .command-one {
        width: 80%;
        height: auto;
        margin: 10px 0 10px 0;
    }
}
