main,
main>div>div {
    width: 90%;
    height: auto;
}

.title-prices {
    font-weight: normal;
    font-family: inherit;
    text-align: center;
    display: block;
    margin: 10px 0 10px 0;
    color: #2e64bf;
}

table {
    border-collapse: collapse;
    text-align: left;
    border: 1px solid lightgrey;
    margin: auto;
    width: 70%;
}

th {
    background: #AFEEEE;
    color: blue;
    padding: 10px 20px;
    text-align: center;
    font-weight: normal;
    border: 1px solid blue;
    height: 35px;
}

td {
    height: 35px;
    padding: 10px;
    border: 1px solid lightblue;
}

.align {
    text-align: center;
}

main p {
    width: 70%;
    margin: auto;
    font-size: 11px;
    text-align: justify;
}

@media (min-width:0px) and (max-width:640px),
(min-width:641px) and (max-width:1024px) {
    .table-block {
        width: 100%;
        font-size: 14px;
    }

    main p {
        width: 100%;
    }
}
