@charset "UTF-8";

@font-face {
  font-family: "my-font";
  src:url("fonts/my-font.eot");
  src:url("fonts/my-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/my-font.woff") format("woff"),
    url("fonts/my-font.ttf") format("truetype"),
    url("fonts/my-font.svg#my-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "my-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "my-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\61";
}
.icon-user-md:before {
  content: "\62";
}
.icon-map-marker:before {
  content: "\65";
}
.icon-clock-o:before {
  content: "\66";
}
.icon-envelope-o:before {
  content: "\63";
}
